[Desktop Entry]
Name=VSCodium - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/opt/3rd-party/bundles/clearfraction/usr/share/codium/codium --no-sandbox --open-url %U
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/pixmaps/vscodium.png
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/vscodium;
Keywords=vscode;
