[Desktop Entry]
Name[cs_CS]=Foliate
Name[fr_FR]=Foliate
Name[nl_NL]=Foliate
Name[ru_RU]=Foliate
Name[pt_BR]=Foliate
Name[id_ID]=Foliate
Name=Foliate
GenericName[cs_CS]=Prohlížeč elektronických knih
GenericName[fr_FR]=Lecteur de livres électroniques
GenericName[it]=Visualizzatore di eBook
GenericName[nl_NL]=eBook-lezer
GenericName[ru_RU]=Просмотр электронных книг
GenericName[zh_TW]=電子書閱讀器
GenericName[pt_BR]=Visualizador de eBook
GenericName[es]=Visor de eBook
GenericName[id_ID]=Pemirsa eBook
GenericName=eBook Viewer
Comment[cs_CS]=Prohlížet elektronické knihy
Comment[fr_FR]=Voir les livres électroniques
Comment[it]=Visualizza eBook
Comment[nl_NL]=Lees E-boeken
Comment[ru_RU]=Читайте электронные книги
Comment[zh_TW]=閱讀電子書
Comment[pt_BR]=Ver eBooks
Comment[es]=Ver eBooks
Comment[id_ID]=Lihat eBook
Comment=View eBooks
Categories=Office;Viewer;
MimeType=application/epub+zip;application/x-mobipocket-ebook;
Exec=env GSETTINGS_SCHEMA_DIR=/opt/3rd-party/bundles/clearfraction/usr/share/glib-2.0/schemas/ /opt/3rd-party/bin/com.github.johnfactotum.Foliate %F
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/icons/hicolor/scalable/apps/com.github.johnfactotum.Foliate.svg
Terminal=false
Type=Application
Keywords[cs_CS]=Elektronická kniha;Kniha;EPUB;Prohlížeč;Čtečka;
Keywords[fr_FR]=Ebook;Livre;EPUB;Liseuse;Lecteur;
Keywords[it]=Ebook;Book;EPUB;Viewer;Reader;libri;visualizzatore;lettore;
Keywords[nl_NL]=E-boek;Boek;EPUB;Lezer;Bekijken;
Keywords[ru_RU]=Ebook;Book;EPUB;Viewer;Reader;Книги;Читать;
Keywords[zh_TW]=Ebook;Book;EPUB;Viewer;Reader;電子書;書;檢視器;閱讀器;
Keywords[pt_BR]=Ebook;Book;EPUB;Viewer;Reader;
Keywords[es]=Ebook;Libro;EPUB;Visor;Lector;
Keywords[id_ID]=Ebook,Buku,EPUB,Pemirsa,Pembaca;
Keywords=Ebook;Book;EPUB;Viewer;Reader;
