[Desktop Entry]
Name[ca]=Meteo
Name[de]=Meteo
Name[en]=Meteo
Name[es]=Meteo
Name[es_ES]=Meteo
Name[fr]=Météo
Name[lt]=Meteo
Name[nb]=Meteo
Name[nl]=Meteo
Name[pt]=Meteo
Name[pt_BR]=Meteo
Name[pt_PT]=Meteo
Name[ru]=Meteo
Name[sr]=Meteo
Name=Meteo
GenericName[ca]=Meteo
GenericName[de]=Meteo
GenericName[en]=Meteo
GenericName[es]=Meteo
GenericName[es_ES]=Meteo
GenericName[fr]=Météo
GenericName[lt]=Meteo
GenericName[nb]=Meteo
GenericName[nl]=Meteo
GenericName[pt]=Meteo
GenericName[pt_BR]=Meteo
GenericName[pt_PT]=Meteo
GenericName[ru]=Meteo
GenericName[sr]=Meteo
GenericName=Meteo
Comment[ca]=Aplicatiu de predicció per a l'escriptori
Comment[de]=Wetterprognose-Anwendung für den Desktop
Comment[en]=Forecast App for desktop
Comment[es]=Aplicación de predicción para el escritorio
Comment[es_ES]=Aplicación de predicción para el escritorio
Comment[fr]=Application météo pour le bureau
Comment[lt]=Orų prognozės programa darbalaukiui
Comment[nb]=Værvarslings-app for skrivebordet
Comment[nl]=Weersvoorspellings-App voor desktop
Comment[pt]=Aplicativo de Previsão do Tempo para Desktop
Comment[pt_BR]=Aplicativo de Previsão do Tempo para Desktop
Comment[pt_PT]=Aplicativo de Previsão do Tempo para Desktop
Comment[ru]=Прогноз погоды для рабочего стола
Comment[sr]=Десктоп апликација за Временску Прогнозу
Comment=Forecast App for desktop
Categories=Utility;Education;Science;
Exec=env GSETTINGS_SCHEMA_DIR=/opt/3rd-party/bundles/clearfraction/usr/share/glib-2.0/schemas /opt/3rd-party/bin/com.gitlab.bitseater.meteo
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/icons/hicolor/scalable/apps/com.gitlab.bitseater.meteo.svg
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-Gettext-Domain=com.gitlab.bitseater.meteo
Keywords[ca]=Meteo;Temps;Previsió;Temperatura;Vent;Neu;Pluja;
Keywords[de]=Meteo;Wetter; Wetterprognose; Temperatur; Wind; Schnee; Regen;
Keywords[en]=Meteo;Weather;Forecast;Temperature;Wind;Snow;Rain;
Keywords[es]=Meteo;Tiempo;Previsión;Temperatura;Viento;Nieve;Lluvia;
Keywords[es_ES]=Meteo;Tiempo;Previsión;Temperatura;Viento;Nieve;Lluvia;
Keywords[fr]=Meteo;Prévisions;Météo;Température;Vent;Neige;Pluie;
Keywords[lt]=Meteo;Orai;Prognozė;Temperatūra;Vėjas;Oras;Sniegas;Lietus;
Keywords[nb]=Meteo;Vær;Værmelding;Temperatur;Vind;Snø;Regn;
Keywords[nl]=Meteo;Weer;Weersvoorspelling;Temperatuur;Wind;Sneeuw;Regen;
Keywords[pt]=Meteo;Previsão;Tempo;Temperatura;Vento;Neve;Chuva;
Keywords[pt_BR]=Meteo;Previsão;Tempo;Temperatura;Vento;Neve;Chuva;
Keywords[pt_PT]=Meteo;Previsão;Tempo;Temperatura;Vento;Neve;Chuva;
Keywords[ru]=Meteo;Погода;прогноз;температура;ветер;снег;дождь;
Keywords[sr]=Метео;Време;Прогноза;Температура;Ветар;Снег;Киша;
Keywords=Meteo;Weather;Forecast;Temperature;Wind;Snow;Rain;
X-GNOME-UsesNotifications=true
