[Desktop Entry]
Name[cs]=Trezor na hesla
Name[da]=Adgangskodeboks
Name[de]=Passwort-Safe
Name[es]=Contraseña del depósito seguro
Name[eu]=Password Safe
Name[fi]=Salasanasäilö
Name[fr]=Password Safe
Name[hu]=Jelszókezelő
Name[id]=Password Safe
Name[it]=Password Safe
Name[nl]=Wachtwoordkluis
Name[pl]=Password Safe
Name[pt_BR]=Password Safe
Name[ru]=Сейф паролей
Name[sr]=Сеф за лозинке
Name[sv]=Password Safe
Name[tr]=Parola Kasası
Name=Password Safe
Comment[cs]=Správa hesel pro GNOME
Comment[da]=En adgangskodehåndtering til GNOME
Comment[de]=Eine Passwortverwaltung für GNOME
Comment[el]=Διαχειριστής συνθηματικών για το GNOME
Comment[es]=Un gestor de contraseñas para GNOME
Comment[eu]=Pasahitzen kudeatzailea GNOMErako
Comment[fi]=Salasanojen hallintasovellus Gnomelle
Comment[fr]=Gestionnaire de mots de passe pour GNOME
Comment[hu]=Jelszókezelő a GNOME-hoz
Comment[id]=Manajer kata sandi untuk GNOME
Comment[it]=Un gestore di password per GNOME
Comment[nl]=Een wachtwoordbeheerder voor Gnome
Comment[pl]=Menedżer haseł dla środowiska GNOME
Comment[pt_BR]=Um gerenciador de senhas para o GNOME
Comment[ru]=Менеджер паролей для GNOME
Comment[sr]=Управник лозинки за Гном
Comment[sv]=En lösenordshanterare för GNOME
Comment[tr]=GNOME için parola yöneticisi
Comment=A password manager for GNOME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/icons/hicolor/scalable/apps/org.gnome.PasswordSafe.svg
Exec=env GSETTINGS_SCHEMA_DIR=/opt/3rd-party/bundles/clearfraction/usr/share/glib-2.0/schemas/  PYTHONPATH=$PYTHONPATH:/opt/3rd-party/bundles/clearfraction/usr/lib/python3.8/site-packages /opt/3rd-party/bin/gnome-passwordsafe %U
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
MimeType=application/x-keepass2;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[cs]=keepass;hesla;šifrování;bezpečnost;zabezpečení;
Keywords[da]=keepass;kryptér;beskyt;sikker;
Keywords[de]=keepass;verschlüsseln;sicher;
Keywords[es]=keepass;cifrado;seguridad;contraseñas;depósito seguro;
Keywords[eu]=keepass;zifratu;segurua;
Keywords[fi]=keepass;encrypt;secure;
Keywords[fr]=keepass;chiffrement;sécurisé;
Keywords[hu]=keepass;titkosítás;biztonság;
Keywords[id]=keepass;enkripsi;aman;
Keywords[it]=keepass;cifrare;cifra;sicurezza;sicuro;
Keywords[nl]=keepass;encrypt;secure;versleutel;beveilig;veilig;
Keywords[pl]=keepass;hasło;hasła;szyfrowanie;zaszyfruj;bezpieczeństwo;zabezpieczenia;
Keywords[pt_BR]=keepass;criptografia;seguro;proteger;cofre
Keywords[ru]=keepass;шифрование;защита;пароль;
Keywords[sr]=keepass;encrypt;secure;кипес;шифровање;безбедно;сигурно;лозинке;kipes;šifrovanje;bezbedno;sigurno;lozinke;sifrovanje;safe;sef;сеф;
Keywords[sv]=keepass;kryptera;säkra;
Keywords[tr]=keepass;şifrele;güvenli;
Keywords=keepass;encrypt;secure;
