[Desktop Entry]
Name[ca]=Fractal
Name[cs]=Fractal
Name[de]=Fractal
Name[el]=Fractal
Name[en_GB]=Fractal
Name[eo]=Fraktalo
Name[es]=Fractal
Name[eu]=Fractal
Name[fi]=Fractal
Name[fr]=Fractal
Name[fur]=Fractal
Name[hu]=Fractal
Name[id]=Fractal
Name[it]=Fractal
Name[nl]=Fractal
Name[pl]=Fractal
Name[pt_BR]=Fractal
Name[ro]=Fractal
Name[ru]=Fractal
Name[sv]=Fractal
Name[tr]=Fractal
Name[uk]=Фрактал
Name[zh_CN]=Fractal
Name=Fractal
Comment[ca]=Fractal és un client de missatgeria segur, descentralitzat per la comunicació de  grups col·laboratius .
Comment[cs]=Fractal je decentralizovaný a bezpečný komunikační klient pro komunikaci ve skupinách spolupracujících lidí.
Comment[de]=Fractal ist ein dezentrales, sicheres Nachrichtenprogramm für gemeinschaftliche Gruppenkommunikation.
Comment[en_GB]=Fractal is a decentralised secure messaging client for collaborative group communication.
Comment[eo]=Fraktalo estas malcentra, sekura mesaĝilo por kunlabora grupkomunikado.
Comment[es]=Fractal es un cliente de mensajería descentralizado y seguro para comunicación de grupos de colaboración.
Comment[eu]=Fractal lankidetzako talde-komunikaziorako mezularitza-bezero seguru eta deszentralizatua da.
Comment[fi]=Fractal on hajautettu ja turvallinen viestintäsovellus ryhmäviestintään.
Comment[fr]=Fractal est un client de messagerie décentralisée et sécurisée pour la communication en groupes collaboratifs.
Comment[fur]=Fractal al è un client par mandâ messaçs decentralizât e sigûr pe comunicazion di grups di colaborazion.
Comment[hu]=A Fractal egy decentralizált, biztonságos üzenetküldő kliens együttműködő csoportos kommunikációhoz.
Comment[id]=Fractal adalah klien perpesanan yang terdesentralisasi dan aman untuk komunikasi grup kolaboratif.
Comment[it]=Fractal è un client sicuro e decentralizzato di messaggistica per la comunicazione collaborativa tra gruppi.
Comment[nl]=Fractal is een gedecentraliseerde, beveiligde berichtencliënt voor samenwerkende groepscommunicatie.
Comment[pl]=Fractal jest zdecentralizowanym, bezpiecznym komunikatorem do komunikacji wśród współpracujących grup.
Comment[pt_BR]=Fractal é um cliente de mensageria descentralizado e seguro para comunicação colaborativa em grupo.
Comment[ro]=Fractal este un client de mesagerie sigur, descentralizat pentru comunicarea colaborativă în grupuri.
Comment[ru]=Fractal — это децентрализованный, безопасный клиент обмена сообщениями для совместного группового общения.
Comment[sk]=Fractal je decentralizovaný bezpečný klient určený na  okamžité konverzácie a vzájomnú komunikáciu v skupinách.
Comment[sv]=Fractal är en decentraliserad, säker meddelandeklient för samarbetande gruppkommunikation.
Comment[tr]=Fractal iş birlikli grup iletişimi için dağıtık, güvenli bir mesajlaşma istemcisidir.
Comment[uk]=«Фрактал» — децентралізований, безпечний клієнт обміну повідомленнями для спільного групового спілкування.
Comment[zh_CN]=Fractal 是一个用于团组交流的分布式、保密聊天客户端。
Comment=Fractal is a decentralized, secure messaging client for collaborative group communication.
GenericName[ca]=Missatgeria de grup Fractal
GenericName[cs]=Skupinová komunikace Fractal
GenericName[de]=Fractal Gruppenkommunikation
GenericName[en_GB]=Fractal group messaging
GenericName[eo]=Fraktala grupmesaĝado
GenericName[es]=Mensajería Fractal
GenericName[eu]=Fractal talde-mezularitza
GenericName[fi]=Fractal-ryhmäviestintä
GenericName[fr]=Messagerie de groupe Fractal
GenericName[fur]=Messaçs di grup Fractal
GenericName[hu]=Fractal csoportos üzenetküldés
GenericName[id]=Perpesanan grup Fractal
GenericName[it]=Messaggistica di gruppo Fractal
GenericName[nl]=Fractal groepsgesprekken
GenericName[pl]=Wiadomości grupowe Fractal
GenericName[pt_BR]=Mensagens de grupo Fractal
GenericName[ro]=Mesagerie de grup Fractal
GenericName[ru]=Fractal групповой обмен сообщениями
GenericName[sk]=Skupinové konverzácie Fractal
GenericName[sv]=Fractal gruppmeddelanden
GenericName[tr]=Fractal grup mesajlaşma
GenericName[uk]=Груповий обмін повідомленнями у «Фракталі»
GenericName[zh_CN]=Fractal 团组聊天
GenericName=Fractal group messaging
Exec=env GST_PLUGIN_PATH_1_0=/opt/3rd-party/bundles/clearfraction/usr/lib64/gstreamer-1.0 GSETTINGS_SCHEMA_DIR=/opt/3rd-party/bundles/clearfraction/usr/share/glib-2.0/schemas /opt/3rd-party/bin/fractal
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/icons/hicolor/scalable/apps/org.gnome.Fractal.svg
Type=Application
StartupNotify=false
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;InstantMessaging;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ca]=Matrix;matrix.org;xat;irc;comunicacions;conversa;aldarull;
Keywords[cs]=Matrix;matrix.org,chat;irc;diskuze;pokec;komunikace;
Keywords[de]=Matrix;matrix.org;Chat;IRC;Kommunikation;Nachrichten;Riot;
Keywords[en_GB]=Matrix;matrix.org;chat;irc;communications;talk;riot;
Keywords[eo]=Matrix;matrix.org;babili;irc;komunikado;paroli;riot;
Keywords[es]=Matrix;matrix.org;chat;irc;comunicaciones;hablar;conversación;
Keywords[eu]=Matrix;matrix.org;txata;irc;komunikazioak;talk;riot;
Keywords[fi]=Matrix;matrix.org;chat;irc;communications;talk;riot;keskustelu;pikaviestin;
Keywords[fr]=Matrix;matrix.org;chat;discussion;irc;communications;parler;conversation;riot;
Keywords[fur]=Matrix;matrix.org;chat;irc;comunicazions;cjacarâ;tabaiâ;confusion;
Keywords[hu]=Matrix;matrix.org;csevegés;irc;kommunikáció;beszélgetés;riot;
Keywords[id]=Matrix;matrix.org;obrolan;irc;komunikasi;berbicara;riot;
Keywords[it]=Matrix;matrix.org;chat;irc;conversazione;comunicazioni;parlare;riot;
Keywords[nl]=Matrix;matrix.org;chat;irc;communications;talk;riot;gesprek;praten;chatten;praat;babbelen;communicatie;
Keywords[pl]=Matrix;matrix.org;czat;chat;irc;komunikacja;komunikator;im;wiadomość;rozmowa;riot;
Keywords[pt_BR]=Matrix;matrix.org;bate-papo;irc;comunicações;conversa;riot;
Keywords[ro]=Matrix;matrix.org;chat;irc;communications;talk;riot;matrice;comunicări;vorbire;discuție;
Keywords[ru]=Matrix;matrix.org;chat;irc;communications;talk;riot;
Keywords[sv]=Matrix;matrix.org;chatt;irc;kommunikation;samtal;riot;
Keywords[tr]=Matrix;matrix.org;sohbet;irc;iletişim;konuşma;riot;
Keywords[uk]=Matrix;matrix.org;chat;irc;communications;talk;riot;матрікс;метрікс;матриця;чат;балачка;спілкування;ірк;ріот;райот;
Keywords[zh_CN]=矩阵;沟通;交流;聊天;Matrix;matrix.org;chat;irc;communications;talk;riot;
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;
