[Desktop Entry]
Version=1.0
Name[ca]=Visualitzador del Shotwell
Name[cs]=Prohlížeč Shotwell
Name[da]=Shotwell-fremviser
Name[de]=Shotwell Fotobetrachter
Name[en_GB]=Shotwell Viewer
Name[es]=Visor de fotos Shotwell
Name[eu]=Shotwell ikustailea
Name[fi]=Shotwell-katselin
Name[fr]=Visionneur Shotwell
Name[gd]=Sealladair Shotwell
Name[gl]=Visualizador do Shotwell
Name[he]=מציג התמונות Shotwell
Name[hr]=Shotwell preglednik
Name[hu]=Shotwell megjelenítő
Name[id]=Shotwell Penampil
Name[kk]=Shotwell көрсетушісі
Name[ko]=샷웰 사진 보기
Name[lv]=Shotwell skatītājs
Name[pl]=Przeglądarka Shotwell
Name[pt]=Visualizador de fotografias Shorwell
Name[pt_BR]=Visualizador do Shotwell
Name[ru]=Программа просмотра фотографий Shotwell
Name[sk]=Prehliadač Shotwell
Name[sr]=Фото-бунар прегледач фотографија
Name[sr@latin]=Foto-bunar pregledač fotografija
Name[sv]=Shotwell bildvisare
Name[tr]=Shotwell Görüntüleyici
Name[uk]=Переглядач Shotwell
Name[zh_CN]=Shotwell 查看器
Name[zh_TW]=Shotwell 檢視器
Name=Shotwell Viewer
GenericName[af]=Besigtig Foto
GenericName[ar]=عارض الصور
GenericName[as]=ফ'টো দৰ্শক
GenericName[ast]=Visor de semeyes
GenericName[bg]=Визуализатор на снимки
GenericName[bn]=ছবি প্রদর্শক
GenericName[bn_IN]=চিত্র দর্শক
GenericName[bs]=Preglednik fotografija
GenericName[ca]=Visualitzador de fotografies
GenericName[cs]=Prohlížeč fotografií
GenericName[da]=Billedvisning
GenericName[de]=Fotobetrachter
GenericName[el]=Προβολή εικόνων
GenericName[en_GB]=Photo Viewer
GenericName[es]=Visor de fotos
GenericName[et]=Fotovaatur
GenericName[eu]=Argazki-ikustailea
GenericName[fi]=Valokuvien katselin
GenericName[fr]=Visionneur de photos
GenericName[gd]=Sealladair dhealbhan
GenericName[gl]=Visor de fotos
GenericName[gu]=ફોટો દર્શક
GenericName[he]=מציג תמונות
GenericName[hi]=फ़ोटो प्रदर्शक
GenericName[hr]=Preglednik fotografija
GenericName[hu]=Fénykép-megjelenítő
GenericName[id]=Penampil Foto
GenericName[it]=Visualizzatore di fotografie
GenericName[ja]=写真ビューアー
GenericName[kk]=Фотосуреттерді көрсету
GenericName[km]=កម្ម​វិធី​មើល​រូប​ថត
GenericName[kn]=ಫೋಟೊ ವೀಕ್ಷಕ
GenericName[ko]=사진 보기
GenericName[ky]=Фотосүрөт көрсөткүчү
GenericName[lt]=Paveikslėlių peržiūra
GenericName[lv]=Fotogrāfiju skatītājs
GenericName[mk]=Фото прегледувач
GenericName[ml]=ചിത്രദര്‍ശിനി
GenericName[mr]=फोटो दर्शक
GenericName[nb]=Fotofremviser
GenericName[nl]=Fotobekijker
GenericName[oc]=Visionador de fòtos
GenericName[or]=ଫୋଟୋ ପ୍ରଦର୍ଶିକା
GenericName[pa]=ਫੋਟੋ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka zdjęć
GenericName[pt]=Visualizador de fotografias
GenericName[pt_BR]=Visualizador de fotos
GenericName[ro]=Vizualizator de fotografii
GenericName[ru]=Программа просмотра фотографий
GenericName[sk]=Prehliadač fotografií
GenericName[sl]=Pregledovalnik fotografij
GenericName[sr]=Прегледач фотографија
GenericName[sr@latin]=Pregledač fotografija
GenericName[sv]=Bildvisare
GenericName[ta]=புகைப்பட நோக்கி
GenericName[te]=ఫొటో వీక్షకం
GenericName[th]=โปรแกรมแสดงภาพถ่าย
GenericName[tr]=Fotoğraf Görüntüleyici
GenericName[uk]=Переглядач фотографій
GenericName[vi]=Trình xem ảnh
GenericName[zh_CN]=照片查看器
GenericName[zh_HK]=相片檢視器
GenericName[zh_TW]=相片檢視器
GenericName=Photo Viewer
Exec=env GSETTINGS_SCHEMA_DIR=/opt/3rd-party/bundles/clearfraction/usr/share/glib-2.0/schemas /opt/3rd-party/bin/shotwell %f
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/opt/3rd-party/bundles/clearfraction/usr/share/icons/hicolor/256x256/apps/org.gnome.Shotwell.png
Terminal=false
NoDisplay=true
Type=Application
MimeType=image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-3fr;image/x-adobe-dng;image/x-arw;image/x-bay;image/x-bmp;image/x-canon-cr2;image/x-canon-crw;image/x-cap;image/x-cr2;image/x-crw;image/x-dcr;image/x-dcraw;image/x-dcs;image/x-dng;image/x-drf;image/x-eip;image/x-erf;image/x-fff;image/x-fuji-raf;image/x-iiq;image/x-k25;image/x-kdc;image/x-mef;image/x-minolta-mrw;image/x-mos;image/x-mrw;image/x-nef;image/x-nikon-nef;image/x-nrw;image/x-olympus-orf;image/x-orf;image/x-panasonic-raw;image/x-pef;image/x-pentax-pef;image/x-png;image/x-ptx;image/x-pxn;image/x-r3d;image/x-raf;image/x-raw;image/x-rw2;image/x-rwl;image/x-rwz;image/x-sigma-x3f;image/x-sony-arw;image/x-sony-sr2;image/x-sony-srf;image/x-sr2;image/x-srf;image/x-x3f;
Categories=Graphics;Viewer;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Photo Viewer
