name: bundler
on:
  workflow_dispatch:
  repository_dispatch:
    types: [build]
    
jobs:
  mixer:
    runs-on: ubuntu-latest
    container: 
      image: clearlinux:latest
      options: --privileged --cap-add=SYS_ADMIN
    steps:
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          repo: clearfraction/mass-rebuild
          workflow: mass-rebuild.yml
          check_artifacts: true
          path: /home
      - name: Build new release
        shell: bash
        run: |
          swupd bundle-add curl --quiet
          cd /home && curl -s -LO https://github.com/clearfraction/bundles/raw/master/build.sh && chmod +x build.sh
          ./build.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_USER: paulcarroty
      
  docker:
    needs: mixer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Credentials
        env: 
          EMAIL: ${{ secrets.EMAIL }}
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          cat > ~/.netrc <<EOF
            machine api.heroku.com
              login $EMAIL
              password $API_KEY
          EOF
      - name: CD
        env:
          APP: "clearfraction"
          EMAIL: ${{ secrets.EMAIL }}
          API_KEY: ${{ secrets.API_KEY }}
          DOCKER_OPTIONS: "--no-cache"
        run: |
          echo ${API_KEY} | docker login \
            --username=${EMAIL} \
            registry.heroku.com \
            --password-stdin
          docker build \
            ${DOCKER_OPTIONS} \
            --tag registry.heroku.com/clearfraction/web .
          heroku container:push web --app ${APP} && heroku container:release web --app ${APP}
          rm -rf ~/.netrc /home/runner/.docker
